.hero {
  height: 100vh;
  color: #fff;
  font-size: 2rem;
}

.hero--title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 40%;
}

.hero--info {
  font-size: 2.5rem;
  font-weight: bold;
}
.hero--rating {
  display: inline-block;
  color: yellow;
  margin-right: 1rem;
}
.hero--year {
  display: inline-block;
  margin-right: 1rem;
}

.hero--overview {
  color: #999;
  max-width: 40%;
}

.btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 0 1rem 0 0;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.7;
}

.btn--watch {
  color: #fff;
}

.btn--add {
  background: #555;
  color: #fff;
}

.hero--genres {
  color: #999;
}

.shadow--vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #0e0f0f 10%, transparent 90%);
}

.shadow--horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #0e0f0f 30%, transparent 70%);
  padding: 6rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 760px) {
  .hero {
    height: 90vh;
  }

  .shadow--horizontal {
    padding: 4rem 0 0 2rem;
  }

  .hero--title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .hero--info {
    font-size: 1.5rem;
  }

  .hero--rating {
    margin-right: 0.5rem;
  }
  .hero--year {
    margin-right: 0.5rem;
  }

  .hero--overview {
    max-width: 90%;
  }

  .btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.7rem 1.4rem;
    margin: 0 1rem 0 0;
  }
}
