.container--darkmode {
  background: #0e0f0f;
  color: yellow;
}

.container--lightmode {
  background: #ccc;
  color: #1e90ff;
}

.lists {
  margin-top: -20vh;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
